<div id="home">
  <section class="main">
    <div class="home-top">
      <div class="container">
        <section class="container-centered">
          <h2 class="home-top-header"><%= "#{contributors_by_name.length} helping hands" %></h2>
        </section>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="home-contributors">
      <%= render_contributors %>
    </section>
  </div>
</div>
