<h2><%= individual_contributor(params[:login]).first["contributor"].login %></h2>
<br />
<%= individual_contributor(params['login']).map {|x| x["contributor"].contributions }.inject {|sum,number| sum + number }.to_s + " contributions"%>
<br /><br />
<h3>Repos</h3>
<ul>
  <% individual_contributor(params[:login]).each do |repo| %>
    <li><%= repo["repo"].name %></li>
  <% end %>
</ul>
