<div class="container">
  <section class="page-header">
    <h2>
      <%= image_tag first_contributor_instance(params[:login]).avatar_url, alt: "#{first_contributor_instance(params[:login]).login}", class: "avatar" %>
      <%= first_contributor_instance(params[:login]).login %>
    </h2>
  </section>
  <section class="main">
    <%= contributor_instances(params['login']).map {|x| x["contributor"].contributions }.inject {|sum,number| sum + number }.to_s + " contributions"%>
    <br /><br />
    <h3>Repos</h3>
    <ul>
      <% contributor_instances(params[:login]).each do |repo| %>
        <li><%= repo["repo"].name %></li>
      <% end %>
    </ul>
  </section>
</div>
