<h2><%= exercism_something(params['login']).first.login %></h2>
<br />
<%= exercism_something(params['login']).map {|x| x[:contributions] }.inject {|sum,number| sum + number }.to_s + " contributions"%>
<br />
