<div class ="contributors">
  <ul>
    <% repos.each do |contributors| %>
      <% contributors.each do |contributor| %>
        <%= image_tag contributor.avatar_url, class: "avatar", alt: "#{contributor.login} avatar" %>
      <% end %>
    <% end %>
  </ul>
</div>
