<div class ="contributors">
  <ul>
    <% list = [] %>
    <% repos.each do |contributors| %>
      <% contributors.each {|contributor| list << contributor } %>
    <% end %>
    <% list.uniq {|x| x[:login] }.sort_by{ |h| h[:contributions]}.each do |contributor| %>
      <%= image_tag contributor.avatar_url, class: "avatar", alt: "#{contributor.login} avatar" %>
    <% end %>
 </ul>
</div>
